.jumbotron {
  background-color: lightyellow;
  background-position: right;
  color:lightcoral;
  margin-top: 6%;
}
#newburger {
  color: black;
}
#leftside {
  background-color: lightyellow;
  color:lightcoral;
  text-align: center;
  font-size: 12pt;
}
#rightside {
  background-color: lightyellow;
  color:lightcoral;
  text-align: center;
  font-size: 12pt;
}